<!doctype html>
<html ng-app="adminApp">

<head>
  <title>Skolakoda Admin</title>
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body>
  <div ng-controller="Admin as ctrl">

    <h2>Kursevi</h2>
    <table>
      <tr>
        <tr ng-repeat="kurs in ctrl.kursevi | orderBy: 'id'">
          <td>{{kurs.id}}</td>
          <td>{{kurs.naziv}}</td>
        </tr>
    </table>

    <h2>Prijave</h2>
    <table>
      <tr>
        <tr ng-repeat="prijava in ctrl.prijave">
          <td>{{prijava.kurs_naziv}}</td>
          <td>{{prijava.korisnik_ime}}</td>
          <td>{{prijava.datum.substring(0, 10)}}</td>
        </tr>
    </table>

    <h2>Korisnici</h2>
    <table>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Prijavljen</th>
        <th>Ime</th>
        <th>Telefon</th>
      </tr>
      <tr>
        <tr ng-repeat="korisnik in ctrl.korisnici | orderBy:'id'">
          <td>{{korisnik.id}}</td>
          <td>{{korisnik.email}}</td>
          <td>{{korisnik.prijavljen}}</td>
          <td>{{korisnik.ime}}</td>
          <td>{{korisnik.telefon}}</td>
        </tr>
    </table>

    <!-- <h2>Adrese</h2>
    <div ng-repeat="korisnik in ctrl.korisnici">{{korisnik.email}}</div> -->

  </div>
</body>

</html>
