{% extends "layout.html" %}

{% block content %}

<div class="container">
  <p>Korisnici:</p>

  <ul>
  {% for k in korisnici %}
    <li> {{ k.email }} </li>
  {% else %}
    <li>Nameless!</li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
