{% extends "layout.html" %}

{% block content %}

<div class="container">
  <p>Kursevi:</p>

  <ul>
  {% for kurs in kursevi %}
    <li> {{kurs.id}}: {{kurs.naziv}} </li>
  {% else %}
    <li>Nema kurseva!</li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
