{% extends "layout.html" %}

{% block content %}

<div class="container">
  <p>Kursevi:</p>

  <ul>
  {% for prijava in prijave %}
    <li> {{dump(prijava)}} </li>
    <li> {{prijava.korisnik_id}}: {{prijava.kurs_id}} </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
