<!doctype html>
<html ng-app="adminApp">

<head>
  <title>Skolakoda biznis</title>
  <meta name="robots" content="noindex">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
  <style media="screen">
    label {
      display: block;
    }
  </style>
</head>

<body>
  <div ng-controller="biznisKontroler as ctrl">

    <h2>Parametri</h2>

    <label>broj predavaca<input ng-model="ctrl.brojPredavaca" type="number"></label>
    <label>broj polaznika<input ng-model="ctrl.polaznika" type="number"></label>
    <label>clanarina<input ng-model="ctrl.clanarina" type="number"> din</label>
    <label>zakup prostora<input ng-model="ctrl.cenaProstora" type="number"> din</label>

    <h2>Stanje</h2>

    <p>Ukupno od članarina: {{ctrl.bruto()}} din.</p>
    <p>Ukupno nakon troškova: {{ctrl.neto()}} din.</p>
    <p>Zarada po predavaču: {{ctrl.zarada()}} din.</p>

  </div>
</body>

</html>
